.slider-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 1; /* default */
    background: #fcfcfc;
}

/* Match screen width to your JS logic */
@media (max-width: 400px) {
    .slider-wrapper {
        aspect-ratio: 2 / 3; /* 400x600 → 0.66 */
    }
}

@media (min-width: 401px) and (max-width: 550px) {
    .slider-wrapper {
        aspect-ratio: 11 / 12; /* 550x600 → 0.92 */
    }
}

@media (min-width: 551px) and (max-width: 700px) {
    .slider-wrapper {
        aspect-ratio: 700 / 650; /* ≈ 1.08 */
    }
}

@media (min-width: 701px) and (max-width: 850px) {
    .slider-wrapper {
        aspect-ratio: 850 / 650; /* ≈ 1.31 */
    }
}

@media (min-width: 851px) and (max-width: 1000px) {
    .slider-wrapper {
        aspect-ratio: 1000 / 650; /* ≈ 1.54 */
    }
}

@media (min-width: 1001px) and (max-width: 1150px) {
    .slider-wrapper {
        aspect-ratio: 1150 / 650; /* ≈ 1.77 */
    }
}

@media (min-width: 1151px) and (max-width: 1300px) {
    .slider-wrapper {
        aspect-ratio: 1300 / 650; /* ≈ 2.00 */
    }
}

@media (min-width: 1301px) and (max-width: 1450px) {
    .slider-wrapper {
        aspect-ratio: 1450 / 650; /* ≈ 2.23 */
    }
}

@media (min-width: 1451px) and (max-width: 1600px) {
    .slider-wrapper {
        aspect-ratio: 1600 / 730; /* ≈ 2.19 */
    }
}

@media (min-width: 1601px) {
    .slider-wrapper {
        aspect-ratio: 1980 / 990; /* = 2.00 */
    }
}


.skeleton-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5% 7%;
    z-index: 1;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.skeleton-line {
    height: 27px;
    background: linear-gradient( 90deg, rgba(220, 220, 220, 0.1) 0%, rgba(200, 200, 200, 0.5) 50%, rgba(220, 220, 220, 0.1) 100% );
    background-size: 200% 100%;
    animation: shimmer 5s infinite linear;
    border-radius: 6px;
}

.line-1 {
    width: 20vw;
}

.line-2 {
    width: 85vw;
}

.line-3 {
    width: 50vw;
}

.line-4 {
    width: 70vw;
}

.line-5 {
    width: 40vw;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1, 1);
    }

    to {
        -webkit-transform: scale(1.1, 1.1);
    }
}

@-moz-keyframes zoom {
    from {
        -moz-transform: scale(1, 1);
    }

    to {
        -moz-transform: scale(1.1, 1.1);
    }
}

@keyframes zoom {
    from {
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    to {
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}

a, a:hover, a:active, a:focus, a:visited {
    outline: none;
    text-decoration: none;
}


.owl-carousel1 .owl-item .item::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: inset 0 -200px 300px 200px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 -200px 300px 200px rgba(0,0,0,0.3);
    box-shadow: inset 0 -200px 300px 200px rgba(0,0,0,0.3);
    left: -1px;
}

.owl-carousel1 .owl-item.active .item > img {
    -webkit-animation: zoom 10s;
    -moz-animation: zoom 10s;
    -o-animation: zoom 10s;
    animation: zoom 10s;
}

.owl-carousel1 .owl-item {
    /*min-height:534px;
    max-height:766px;*/
}

.owl-item-text {
    position: absolute;
    vertical-align: bottom;
    bottom: 50px;
    z-index: 1;
    padding: 0 100px;
    width: 60%;
    color: #fff;
}

    .owl-item-text h4 {
        font-size: 24px;
        font-weight: 600;
    }

        .owl-item-text h4 a,
        .owl-item-text h4 a:hover,
        .owl-item-text h4 a:focus {
            text-decoration: none;
            color: #fff;
            outline: none;
        }

    .owl-item-text h1 {
        font-size: 60px;
        font-weight: 800;
        margin-top: 15px;
        margin-bottom: 45px;
    }

@media screen and (max-width:1435px) {
    .owl-item-text h1 {
        font-size: 55px;
    }
}

@media screen and (max-width:1344px) {
    .owl-item-text h1 {
        font-size: 50px;
    }
}

@media screen and (max-width:1254px) {
    .owl-item-text h1 {
        font-size: 45px;
    }
}

@media screen and (max-width:1191px) {
    .owl-item-text {
        width: 70%;
    }

        .owl-item-text h1 {
            font-size: 40px;
        }

        .owl-item-text h4 {
            font-size: 18px;
        }
}

@media screen and (max-width:992px) {
    .owl-item-text {
        width: 80%;
    }

        .owl-item-text h1 {
            font-size: 30px;
        }

        .owl-item-text h4 {
            font-size: 16px;
        }

    .h2-heading {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:649px) {
    .owl-item-text {
        padding: 0 10px;
    }
}


.readmore-button {
    border-radius: 25px;
    background: #4ec089;
    border: 0;
    outline: none;
    font-size: 13px;
    color: #fff;
    padding: 13px 30px;
    text-decoration: none;
    opacity: 0.9;
    /*cursor:pointer;*/
}

    .readmore-button:hover, .readmore-button:focus {
        opacity: 1;
        text-decoration: none;
        color: #fff;
    }

.slider-thumbnails {
    position: absolute;
    vertical-align: bottom;
    bottom: 40px;
    z-index: 1;
    padding: 0 100px;
}

.item-thumb-slider {
    display: block;
}

.owl-carousel2 .owl-stage {
    margin: auto;
}

.owl-carousel2 .item-thumb-slider, .owl-carousel2 .item-thumb-slider span {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 19px;
    opacity: 0.6;
    font-weight: 500;
}

    .owl-carousel2 .item-thumb-slider.active,
    .owl-carousel2 .item-thumb-slider:hover,
    .owl-carousel2 .item-thumb-slider:focus {
        opacity: 1;
        outline: none;
    }

@media screen and (max-width:649px) {
    .owl-carousel2 .item-thumb-slider span {
        display: none;
    }

    .slider-thumbnails {
        padding: 0 10px;
    }
}

.sliderProgress {
    width: 100%;
    background-color: #fff;
    height: 2px;
    opacity: 0.6;
    margin-bottom: 20px;
}

.slider-thumbnails .item-thumb-slider.active .sliderProgress {
    height: 4px;
    opacity: 1;
}

.sliderProgressBar {
    width: 0;
    height: 4px;
    background-color: #4ec089;
}

.rounded-25px {
    border-radius: 25px;
}

.rounded-2510px {
    border-radius: 25px;
}

@media screen and (max-width:992px) {
    .rounded-2510px {
        border-radius: 10px;
    }
}

.padded-content-lr {
    padding-left: 17px;
    padding-right: 17px;
}

.non-padded-content-lr {
    padding-left: 0;
    padding-right: 0;
}

.dyna-wrapper-ar {
    aspect-ratio: 389 / 177;
    background: #fcfcfc;
    font-size: 12px;
}

.dyna-img-text {
    font-size: 17px !important;
    margin-top: 12px;
    margin-bottom: 20px;
    color: #000;
}

    .dyna-img-text a,
    .dyna-img-text a:hover,
    .dyna-img-text a:focus {
        text-decoration: none;
        color: #383838;
        outline: none;
    }

.mt-90 {
    margin-top: 90px;
}

.mt-70 {
    margin-top: 70px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

@media screen and (min-width:768px) and (max-width:991px) {
    .md-max-width {
        width: 500px;
        margin: 0 auto;
    }
}

.circle-img-text div:not(:first-child) p {
    font-size: 12px;
    margin-top: 8px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.circle-img-text a,
.circle-img-text a:hover,
.circle-img-text a:focus {
    text-decoration: none;
    color: #383838;
    outline: none;
}

.tag-wrapper-ar {
    aspect-ratio: 150 / 150;
    background: #fcfcfc;
    font-size: 12px;
}

.mountain-wrapper {
    position: relative;
    width: 100%;
    padding: 0;
    padding-top: 70px;
}

.mountain-bg-3 {
    background: url(../svg/Layer-4.svg) no-repeat top center;
    background-size: cover;
    position: relative;
    width: 100%;
    /*min-width: 1280px;*/
    height: 295px;
}

.mountain-bg-2 {
    background: url(../svg/Layer-3.svg) no-repeat top center;
    background-size: cover;
    width: 100%;
    /*min-width: 1280px;*/
    height: 355px;
    position: absolute;
    top: 2px;
}

.mountain-bg-1 {
    background: url(../svg/Layer-2.svg) no-repeat top center;
    background-size: cover;
    width: 100%;
    /*min-width: 1280px;*/
    height: 391px;
    position: absolute;
    top: 68px;
}

.mountain-bg-bottom {
    background: url(../svg/Layer-1.svg) no-repeat bottom center;
    background-size: cover;
    width: 100%;
    /*min-width: 1280px;*/
    height: 195px;
}

.mountain-content {
    position: absolute;
    top: 195px;
    padding: 0 10px;
    margin: 0;
    width: 100%;
}

.heading-mc {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
}

@media screen and (max-width:992px) {
    .heading-mc {
        font-size: 2rem;
    }

    .mountain-content .row .col-6 h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:576px) {
    .mountain-bg-bottom {
        height: 330px;
    }

    .heading-mc {
        font-size: 1.5rem;
    }
}

.mountain-content .row .col-6 {
    padding-top: 25px;
    color: #fff;
}

    .mountain-content .row .col-6 .fa {
        font-size: 30px;
        /*opacity: 0.5;*/
    }

    .mountain-content .row .col-6 h2 {
        font-weight: 600;
    }

.fa-tripadvisor2svg {
    content: url(../svg/tripadvisor.svg);
    width: 42px;
    margin-top: 17px;
    margin-bottom: 5px;
}

.fa-mountain2svg {
    content: url(../svg/mountain.svg);
    width: 42px;
    margin-bottom: 5px;
}

.fa-baloons2svg {
    content: url(../svg/3baloons.svg);
    width: 42px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.fa-stars2svg {
    content: url(../svg/3stars.svg);
    width: 42px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mountain-content a {
    background: none;
    border: solid 1.5px #fff;
    border-radius: 25px;
    padding: 8px 80px;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    outline: none;
    display: inline-block;
    margin-top: 40px;
}

    .mountain-content a:hover, .mountain-content a:focus {
        opacity: 0.8;
        color: #fff;
    }

@media screen and (max-width:438px) {
    .mountain-content {
        top: 145px;
    }

        .mountain-content a {
            padding: 8px 20px;
        }
}

.owl-sitbi .item div {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.sitbi-wrapper-ar{
    aspect-ratio: 640 / 480;
    background:#fcfcfc;
    font-size:12px;
}

.owl-sitbi .item p {
    margin: 10px 0 5px 0;
    line-height: 20px;
    font-size: 13px;
}

.owl-sitbi .item span {
    color: #000000;
    font-size: 12px;
    opacity: 0.4;
}

.owl-carousel4 .item {
    background: #F8F8F8;
    overflow: hidden;
}

.testimonial-wrapper-ar {
    /*aspect-ratio: 645 / 490;*/
    width: 100%;
    height: 100%;
    padding: 0 !important;
    background: #fcfcfc;
    font-size: 12px;
}

.img-of-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.owl-carousel4 .item .row div:last-child {
    padding: 50px 40px;
    padding-right: 100px;
}

        .owl-carousel4 .item .row div:last-child h4, .owl-carousel4 .item .row div:last-child h3 {
            color: #000;
            margin-bottom: 25px;
        }

    .owl-carousel4 .item .row div:last-child p {
        font-weight: 300;
        margin-bottom: 15px;
        letter-spacing: 0.2px;
        line-height: 28px;
        height: calc(28px * 4);
        /*overflow: hidden;*/
    }

@media screen and (max-width:992px) {
    .owl-carousel4 .item .row div:last-child {
        padding: 20px 40px;
        padding-right: 40px;
    }

        .owl-carousel4 .item .row div:last-child h4, .owl-carousel4 .item .row div:last-child h3 {
            margin-bottom: 10px;
            font-size: 18px;
        }

        .owl-carousel4 .item .row div:last-child p {
            margin-bottom: 10px;
            letter-spacing: normal;
            line-height: 22px;
            height: calc(22px * 6);
            /*overflow:hidden;*/
        }
}

@media screen and (max-width:768px) {
    .owl-carousel4 .item .row div:last-child {
        text-align: justify;
    }
}

.owl-carousel4 .item .writer-testimonial {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
}

.owl-carousel4 .item .trek-name-date-testimonial {
    font-style: italic;
    font-size: 12px;
}

.owl-theme .owl-dots .owl-dot {
    outline: none;
}

.owl-carousel4 .owl-dots {
    margin-top: 20px !important;
}


.owl-carousel5 .item {
    overflow: hidden;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 15px -7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 15px -7px rgba(0,0,0,0.5);
    box-shadow: 0 2px 15px -7px rgba(0,0,0,0.5);
    margin: 15px 10px;
}

    .owl-carousel5 .item a:hover,
    .owl-carousel5 .item a:focus,
    .owl-carousel5 .item a:active {
        text-decoration: none;
    }

.rv-treks-content-wrapper {
    padding: 15px 20px;
}

.rv-treks-wrapper-ar {
    aspect-ratio: 250 / 200;
    background: #fcfcfc;
    font-size: 12px;
}

.rv-treks .rv-treks-content-wrapper h4 {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-bottom: 0;
}

.rv-treks .rv-treks-content-wrapper > span {
    color: #7F7F7F;
    font-size: 13px;
    display: block;
}

    .rv-treks .rv-treks-content-wrapper > span > span {
        vertical-align: text-bottom;
    }

.rv-treks-meter-row {
    margin-top: 25px;
    color: rgba(0,0,0,0.5);
}

.gauge-wrapper {
    margin-top: 0;
    width: 85px;
    display: inline-block;
}

.gauge-wrap {
    width: 85px;
    height: 45px;
    overflow: hidden;
}

.gauge {
    width: 100px;
    height: 100px;
    margin-top: -30px;
    margin-left: -6px;
}

.gauge-text {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.rvt-price-wrapper {
    text-align: right;
}

.rvt-price-inner-wrapper {
    margin-top: 12px;
}

.rvt-price-text {
    font-size: 14px !important;
    display: block;
}

.rvt-rsymbol {
    vertical-align: top;
    line-height: 18px !important;
}

.rvt-price {
    font-size: 30px !important;
    color: #000;
    line-height: 30px !important;
}


.owl-carousel5 .owl-nav {
    position: absolute;
    top: 45%;
    width: 100%;
}

    .owl-carousel5 .owl-nav [class*=owl-]:hover {
        background: none;
        color: #000;
    }

    .owl-carousel5 .owl-nav .owl-prev,
    .owl-carousel5 .owl-nav .owl-next {
        position: absolute;
        width: 15px;
        height: 20px;
        outline: none;
    }

    .owl-carousel5 .owl-nav .owl-prev {
        left: -1rem;
    }

    .owl-carousel5 .owl-nav .owl-next {
        right: -1rem;
    }

.thebikatstory {
    background: url(../../images/TheBikatStory-bg.jpg) repeat-y center left;
    width: 100%;
    min-height: 800px;
    -webkit-box-shadow: inset 0 -200px 300px 200px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0 -200px 300px 200px rgba(0,0,0,0.7);
    box-shadow: inset 0 -200px 300px 200px rgba(0,0,0,0.7);
    color: #fff;
    padding: 100px;
}

    .thebikatstory h1, .thebikatstory h2 {
        margin-top: 220px;
        margin-bottom: 30px;
    }

    .thebikatstory a {
        margin-top: 25px;
        display: inline-block;
    }

@media screen and (max-width:992px) {
    .thebikatstory {
        padding: 30px;
    }
}

@media screen and (max-width:768px) {
    .thebikatstory {
        min-height: auto;
    }

        .thebikatstory h1, .thebikatstory h2 {
            margin-top: 50px;
        }

        .thebikatstory a {
            margin-bottom: 50px;
        }
}





/*.panoptikum-item__tag {
    opacity: 0;
    transition-property: opacity,transform;
    transition-duration: 300ms;
    transition-delay: 160ms;
    transform: translateX(60px);
}
.panoptikum-item__tag {
    transform: translateX(120px);
    font-size: .889rem;
    line-height: .889rem;
}

{
    opacity: 1;
    transform: translateX(0);
    transition-timing-function: cubic-bezier(0,.32,.32,1);
}*/
